@model DBugr.Models.Project

@{
    ViewData["Title"] = "Details";
}


<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-spacing">

            <!-- Content -->

            <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
                <div class="bio layout-spacing ">
                    <div class="widget-content widget-content-area">
                        <h3 class="">Project Details</h3>
                        <p>See the details for this specific project. To perform modifications, click on Edit. To delete, click on Delete. </p>
                        <div class="bio-skill-box">
                            <div class="row">
                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h3>Project Name</h3>
                                            <p>@Html.DisplayFor(model => model.Name)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>Description</h5>
                                            <p>@Html.DisplayFor(model => model.Description).</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-0 mb-5 ">

                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>Start Date</h5>
                                            <p>@Html.DisplayFor(model => model.StartDate)</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-0 mb-0 ">

                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>End Date</h5>
                                            <p>@Html.DisplayFor(model => model.EndDate)</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-0 mb-0 ">

                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>Company Name</h5>
                                            <p>@Html.DisplayFor(model => model.Company.Name)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-0 mb-0 ">
                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>Project Priority</h5>
                                            <p>@Html.DisplayFor(model => model.ProjectPriority.Name)</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 col-xl-6 col-lg-12 mb-xl-0 mb-0 ">

                                    <div class="d-flex b-skills">
                                        <div>
                                        </div>
                                        <div class="">
                                            <h5>Members</h5>
                                            @foreach (BTUser member in Model.Members)
                                            {
                                                <p>@member.FullName</p>
                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <a asp-action="Edit" asp-route-id="@Model.Id" type="submit" class="btn btn-rounded btn-success" value="">Edit</a>
                                    </div>
                                </div>
                                <br />
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <a asp-action="Delete" asp-route-id="@Model.Id" type="submit" class="btn btn-rounded btn-success" value="">Delete</a>
                                    </div>
                                </div>
                                <br />
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <a asp-action="Index" type="submit" class="btn btn-rounded btn-outline-success" value="">Go Back</a>
                                    </div>
                                </div>

                            </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
